This bot can help you to get the ID of user, channel, and group.

<code>------------------------</code>

<b>Command:</b>

<code>/id</code>
<i>Send in group, get your ID, the group ID</i>

<code>/id</code>
<i>Send in group replied to someone, get your ID, the replied user's ID, the group ID</i>

<code>/id</code>
<i>Send in private chat, get your ID</i>

<code>/id @username</code> or <code>/id https://t.me/username</code>
<i>Send in private chat, get @username's ID</i>

<code>------------------------</code>

<b>Forward:</b>

<code>Forward channel's message to private chat</code>
<i>Get the channel's ID</i>

<code>Forward channel's message to private chat</code>
<i>Get the channel's ID</i>

<code>------------------------</code>

<b>Note 1:</b> When checking the ID of a group or channel, it will also check whether the group or channel is restricted by Telegram. If it is restricted, information such as the reason for the restriction will also be displayed.

<b>Note 2:</b> If the bot does not respond after you send the <code>/id</code> command in the group, please try setting the bot as an administrator with arbitrary permissions.

++++++

Document || https://scp-079.org/id/
Source Code || https://github.com/scp-079/scp-079-id/
